body {
    background-image: url('https://w.forfun.com/fetch/94/94344c543676e41114cf50ee8b6c9a14.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: auto;
    width: 100%;
    background-position: center;
}